
  <div class="card" style="width: 35rem;"appMaterialElevation >
      <img src="assets/images/torneo.jpg" class="card-img-top" alt="torneo">
      <div class="card-body">
        <h5 class="card-title">Tengular tournament</h5>
        <h6 class="card-subtitle mb-2 text-muted">Activo</h6>
        <h6 class="card-subtitle mb-2 text-muted">Modalidad:</h6> 
        <p>Sencillo</p>
        <h6 class="card-subtitle mb-2 text-muted">Categoría:</h6> 
        <p>Varonil</p>
        <h6 class="card-subtitle mb-2 text-muted">Otras reglas:</h6> 
        <p> </p>
        <h6 class="card-subtitle mb-2 text-muted">Fechas de inscripcion:</h6> 
        <p> </p>
        <h6 class="card-subtitle mb-2 text-muted">Premiación:</h6> 
        <p>10,000.00</p>
        <h6 class="card-subtitle mb-2 text-muted">Costos por inscripción:</h6> 
        <p>500</p>
      </div>
    </div>