<div class="container-12 mt-5 pt-4 bgColor-light">
    <div class="container bg-white">

        <mat-tab-group dynamicHeight mat-align-tabs="center" color="accent">
        <mat-tab label="Torneos" mat-align->
          <br>
          <div class="example-small-box " align="left">

            <button mat-raised-button (click)="onCreateTournament()" color= "accent"><mat-icon>add</mat-icon>Nuevo</button> 
            
          </div>
            <div class="example-small-box" align="center">
            <mat-form-field color="accent">
              <mat-label>Modalidades</mat-label>
              <mat-select>
                <mat-option *ngFor="let mod of mods" [value]="mod.value">
                  {{mod.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
      
            <mat-form-field color="accent">
              <mat-label>Categorias</mat-label>
              <mat-select>
                <mat-option *ngFor="let cat of cats" [value]="cat.value">
                  {{cat.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
      
            <div class="container">
                <div class="row">
                <div *ngFor="let tournament of tournaments" class="col-4" style="padding: 20px">
                <mat-card [routerLink]="['/torneo-seleccionado', tournament.imageT]" appMaterialElevation class="addBorder" class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image-single"></div>
                    <mat-card-title>{{tournament.name}}</mat-card-title>
                    <mat-card-subtitle>({{tournament.category}})</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image
                    [src]="tournament.imageT" style="padding: 10px; height: 225px; width: 315px">
                  <mat-card-content>
                    <h2 style="text-align: center"><strong>{{tournament.name}}</strong></h2>
                    <br><label><strong>Inicio: </strong>{{tournament.beginDate}}</label>
                    <br><label><strong>Fin: </strong>{{tournament.endDate}}</label>
                    <br><label><strong>Estado: </strong>{{tournament.announcementStatus}}</label>
                    <br><label><strong>Modalidad: </strong>{{tournament.modality}}</label>
                    <br><label><strong>Categoria: </strong>{{tournament.category}}</label>
                  </mat-card-content>
                  <!--  <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                      </mat-card-actions> -->
                </mat-card>
                </div>
                </div>
        </div>
          </div>
        </mat-tab>
      
        <mat-tab label="Jugadores">
            <br>
            <div class="example-small-box " align="left">
  
              <button mat-raised-button (click)="onCreatePlayer()" color ="accent"><mat-icon>add</mat-icon>Nuevo</button> 
              
            </div>
          <div class="example-large-box" align="center">
      
            <mat-form-field>
              <mat-label>Genero</mat-label>
              <mat-select>
                <mat-option *ngFor="let gen of gens" [value]="gen.value">
                  {{gen.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      
            <div class="container">
              <div class="row">
              <div *ngFor="let player of players" class="col-4" style="padding: 20px">
              <mat-card [routerLink]="['/jugador-seleccionado', player.imageP]" appMaterialElevation class="addBorder" class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image-singleP"></div>
                  <mat-card-title>{{player.name}}</mat-card-title>
                  <mat-card-subtitle>({{player.gender}})</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image
                  [src]="player.imageP" style="padding: 5px; height: 225px; width: 300px">
                <mat-card-content>
                  <h2 style="text-align: center"><strong>{{player.name}}</strong></h2>
                  <br><label><strong>Ranking: </strong>{{player.currentRank}}°</label>
                  <br><label><strong>Puntos: </strong>{{player.playerPoints}}</label>
                  <br><label><strong>Edad: </strong>{{player.age}} años</label>
                </mat-card-content>
                <!--  <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions> -->
              </mat-card>
              </div>
              </div>
      </div>
          </div>
        </mat-tab>
      </mat-tab-group>
  
    </div>
  </div>
  