<div class="container-12 mt-5 pt-4 bgColor-light">
  <div class="container bg-white">
    <div class="row justify-content-center">
      <mat-form-field color="accent" class="d-inline p-4">
        <mat-label>Modalidad</mat-label>
        <mat-select [(value)]="modalitySelected">
          <mat-option value="option1">Ambas</mat-option>
          <mat-option value="option2">Indivudual</mat-option>
          <mat-option value="option3">Dobles</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="accent" class="d-inline p-4">
        <mat-label>Categoria</mat-label>
        <mat-select [(value)]="categorySelected">
          <mat-option value="option1">Todas</mat-option>
          <mat-option value="option2">Masculino</mat-option>
          <mat-option value="option3">Femenino</mat-option>
          <mat-option value="option4">Mixto</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <h3 class="text-center">Resultados</h3>
    <app-date-results></app-date-results>
    <app-date-results></app-date-results>
    <app-date-results></app-date-results>
    <app-date-results></app-date-results>
    <app-date-results></app-date-results>
    <app-date-results></app-date-results>
  </div>
</div>