<!--div class="card" style="width: 18rem;">
    <img src=" " class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Torneo</h5>
      <p class="card-text">Breve descripcion con la informacion.</p>
      <button mat-flat-button color="accent">
          <h6 class="whiteText">Más información</h6>
        </button>
    </div>
  </div> -->

  <mat-card class="example-card" tabindex="0">
      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title>Nombre</mat-card-title>
        <mat-card-subtitle>Estado</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Modalidad:</p>
        <p>Categoria:</p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-flat-button color="accent">
              <h6 class="whiteText">Más información</h6>
            </button>
      </mat-card-actions>
    </mat-card>