<div class="container-12 mt-5 pt-4 bgColor-light">
  <div class="container bg-white" align="center">
    
    <br>
    <h1 >Torneo Tengular</h1>
    <mat-card>
      <mat-card-content>
          <div class="container mt-5 pt-4">
              <div class="row justify-content-start">
                <div class="col-sm-12 col-lg-4">
                    <mat-card appMaterialElevation *ngFor="let tournament of tournaments" class="addBorder" class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image-single"></div>
                          <mat-card-title>{{tournament.name}}</mat-card-title>
                          <mat-card-subtitle>({{tournament.category}})</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image
                          [src]="tournament.imageT" style="padding: 10px">
                        <mat-card-content>
                          <h2 style="text-align: center"><strong>{{tournament.name}}</strong></h2>
                          <br><label><strong>Inicio: </strong>{{tournament.beginDate}}</label>
                          <br><label><strong>Fin: </strong>{{tournament.endDate}}</label>
                          <br><label><strong>Estado: </strong>{{tournament.announcementStatus}}</label>
                          <br><label><strong>Modalidad: </strong>{{tournament.modality}}</label>
                          <br><label><strong>Categoria: </strong>{{tournament.category}}</label>
                        </mat-card-content>
                        <!--  <mat-card-actions>
                              <button mat-button>LIKE</button>
                              <button mat-button>SHARE</button>
                            </mat-card-actions> -->
                      </mat-card>
                </div>
                <div class="col-sm-12 col-lg-8">
                  <mat-tab-group color="accent">
                    <mat-tab label="Jugadores participantes">
                      <div class="m-3">
                        <mat-table [dataSource]="sourceNextMatches" class="mat-elevation-z2">
                          <!-- Name Column -->
                          <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef [style.color]="'#EE8134'"> Nombre </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                          </ng-container>
            
                          <!-- LastName Column -->
                          <ng-container matColumnDef="lastname">
                            <mat-header-cell *matHeaderCellDef [style.color]="'#EE8134'"> Apellido </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
                          </ng-container>
            
                          <!-- Position Column -->
                          <ng-container matColumnDef="position">
                            <mat-header-cell *matHeaderCellDef [style.color]="'#EE8134'"> Posición</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                          </ng-container>
            
            
                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </div>
              </div>
            </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <app-tournament-bracket-info></app-tournament-bracket-info>
      </mat-card-content>
    </mat-card>

  </div>
</div>

