<h1 matDialogTitle class="text-center">Agregar jugador</h1>

<div mat-dialog-content>
  <div class="container">
    <form (ngSubmit)="onGuardarP(formNew)" #formNew="ngForm">

      <div class="row justify-content-start ml-2 mb-2">
        <div class="form-group">
          <mat-form-field>
            <input matInput [(ngModel)]="playerIn.name"
              [(ngModel)]="UsersIn.name" #name="ngModel" name="name" id="name"
              type="text" placeholder="Nombre del jugador" minlength="10"
              maxlength="40" required>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput [(ngModel)]="playerIn.age" #age="ngModel" name="age"
              id="age" type="number" value="13" placeholder="Edad" min="13"
              max="65" required>
          </mat-form-field>
        </div>
      </div>

      <div class="row justify-content-start ml-2 mb-2">
        <label class="mr-3">Género</label>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="Masculino">Masculino</mat-radio-button>
          <mat-radio-button value="Femenino">Femenino</mat-radio-button>
        </mat-radio-group>
        <!-- <div class="form-group">
          <mat-form-field>
            <mat-label>Genero</mat-label>
            <mat-select matNativeControl [(ngModel)]="playerIn.gender"
              #gender="ngModel" name="gender" id="gender" required>
              <mat-option value="Masculino">Masculino</mat-option>
              <mat-option value="Femenino">Femenino</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->
      </div>

      <div class="row justify-content-start ml-2 mb-2">
        <div class="form-group">
          <mat-form-field>
            <input matInput [(ngModel)]="playerIn.federation"
              #federation="ngModel" name="federation" id="federation"
              type="text" placeholder="Federación" minlength="8" maxlength="10"
              required>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <input matInput [(ngModel)]="playerIn.license"
              [(ngModel)]="UsersIn.password" #license="ngModel" name="license"
              id="license" type="text" placeholder="Licencia" minlength="8"
              maxlength="10" required>
          </mat-form-field>
        </div>
      </div>

      <input matInputFile type="file" accept=".png, .jpg, .jpge"
        (change)="onUpload($event)">
      <section>
        <mat-progress-bar color="accent" mode="determinate"
          [value]="uploadPercent | async" [bufferValue]="bufferValue">
        </mat-progress-bar>
      </section>

      <label #imagenP id="imagenP"
        style="visibility: hidden; font-size: 0px">{{urlImage | async}}</label>

      <div class="row justify-content-end mr-1 mb-1">
        <button *ngIf="urlImage | async; else btnDisabled" mat-stroked-button
          type="submit" color="accent">Aceptar</button>
        <ng-template #btnDisabled>
          <button mat-stroked-button type="submit" disabled=true
            color="accent">Aceptar</button>
        </ng-template>
        <button mat-stroked-button color="accent" type="button"
          (click)="closeDialog()">Cancelar</button>
      </div>

    </form>
  </div>
</div>