<form>
  <div class="group">
    <input type="email" (change)="updateName($event)"><span class="highlight"></span>
    <label>Correo</label>
  </div>
  <div class="group">
    <input type="password" (change)="updatePassword($event)"><span class="highlight"></span><span class="bar"></span>
    <label>Contraseña</label>
  </div>
  <button type="button" class="button buttonBlue" (click)="loggUser()" (click)="closeDialog()">Iniciar Sesión
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
<!-- <footer>
        <img class="buttonLink" src="assets/icons/tengular.svg">  
  </footer>
-->
<!--<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form">
        <input type="text" placeholder="username"/>
        <input type="password" placeholder="password"/>
        <button>login</button>
      </form>
    </div>
  </div>
-->