<form>
  <div class="group">
    <input type="email" (change)="updateName($event)"><span class="highlight"></span><span class="bar"></span>
    <label>Nombre</label>
  </div>
  <div class="group">
    <input type="password" (change)="updatePassword($event)"><span class="highlight"></span><span class="bar"></span>
    <label>Contraseña</label>
  </div>
  
  <button type="button" class="form button" (click)="loggUser" (click)="closeDialog()"
  style="
    height: 44px;
    border-bottom-width: 3px;
    padding-top: 3px;">
    <!--<button class="buttonLink" mat-flat-button color="accent" >-->
      <h2 class="whiteText">Iniciar Sesión</h2>
      </button>
  </form>


<!-- <footer>
        <img class="buttonLink" src="assets/icons/tengular.svg">  
  </footer>
-->