<!--<div class="card" style="width: 18rem;">
    <img src=" " class="card-img-top" alt="..."
    <div class="card-body">
      <h5 class="card-title">Jugador</h5>
      <p class="card-text"> </p>
      <button mat-flat-button color="accent">
          <h6 class="whiteText">Más información</h6>
        </button>
    </div>
  </div>
  >-->

  <mat-card class="example-card"tabindex="-1" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Nombre</mat-card-title>
        <mat-card-subtitle>Apellido</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Edad:</p>
        <p>Sexo:</p>
        <p>federación:</p>
        <p>Licencia:</p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-flat-button color="accent">
              <h6 class="whiteText">Más información</h6>
            </button>
      </mat-card-actions>
    </mat-card>