<div class="tournament-container">
  <div class="tournament-headers">
    <!-- <h3>Quarter-Finals</h3> -->
    <h3>Quarter-Finals</h3>
    <h3>Semi-Finals</h3>
    <h3>Final</h3>
  </div>

  <div class="tournament-brackets">

    <ul class="bracket bracket-1">
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
    </ul>
    <ul class="bracket bracket-2">
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
    </ul>
    <ul class="bracket bracket-3">
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
    </ul>
  </div>
</div>

<div class="tournament-container">
  <div class="tournament-headers">
    <h3>Round of 16</h3>
    <h3>Quarter-Finals</h3>
    <h3>Semi-Finals</h3>
    <h3>Final</h3>
  </div>

  <div class="tournament-brackets">
    <ul class="bracket bracket-1">
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
    </ul>
    <ul class="bracket bracket-2">
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
    </ul>
    <ul class="bracket bracket-3">
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
    </ul>
    <ul class="bracket bracket-4">
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
    </ul>
  </div>
</div>

<div class="tournament-container">
  <div class="tournament-headers">
    <h3>Round of 32
      <p>01-01-2019</p>
    </h3>
    <h3>Round of 16</h3>
    <h3>Quarter-Finals</h3>
    <h3>Semi-Finals</h3>
    <h3>Final</h3>
  </div>

  <div class="tournament-brackets">
    <ul class="bracket bracket-1">
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
    </ul>
    <ul class="bracket bracket-2">
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
    </ul>
    <ul class="bracket bracket-3">
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
    </ul>
    <ul class="bracket bracket-4">
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
    </ul>
    <ul class="bracket bracket-5">
      <li class="team-item">
        <app-match-score></app-match-score>
      </li>
    </ul>
  </div>
</div>