<h1 matDialogTitle class="text-center">Agregar torneo</h1>

<div mat-dialog-content>
  <div class="container">
    <form (ngSubmit)="onGuardarT(formNew)" #formNew="ngForm">

      <div class="row justify-content-start ml-2">
        <mat-form-field>
          <input matInput [(ngModel)]="tournamentIn.name" #name="ngModel"
            name="name" id="name" type="text" placeholder="Nombre del torneo"
            minlength="7" maxlength="50" required>
          <button mat-button *ngIf="value" matSuffix mat-icon-button
            aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
          <!-- <div *ngIf="name.touched && !name.valid">
            <small *ngIf="name.errors.required" style="color: red;">
              Nombre es requerido
            </small>
            <small *ngIf="name.errors.minlength" style="color: red;">
              Nombre muy corto
            </small>
          </div> -->
        </mat-form-field>
      </div>

      <div class="row justify-content-start ml-2">
        <mat-form-field color="accent">
          <mat-label>Modalidad</mat-label>
          <mat-select matNativeControl [(ngModel)]="tournamentIn.modality"
            #modality="ngModel" name="modality" id="modality" required>
            <mat-option value="sencillo">Sencillo</mat-option>
            <mat-option value="doble">Dobles</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <div *ngIf="modality.touched && !modality.valid">
          <div *ngIf="modality.errors.required" style="color: red;">
            Modalidad es requerido
          </div>
        </div> -->

        <mat-form-field color="accent">
          <mat-label>Categoria</mat-label>
          <mat-select matNativeControl [(ngModel)]="tournamentIn.category"
            #category="ngModel" name="category" id="category" required>
            <mat-option value="varonil">Varonil</mat-option>
            <mat-option value="femenil">Femenil</mat-option>
            <mat-option value="mixto">Mixto</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <div *ngIf="category.touched && !category.valid">
          <div *ngIf="category.errors.required" style="color: red;">
            Categoria es requerido
          </div>
        </div> -->

        <mat-form-field color="accent">
          <mat-label>Competidores</mat-label>
          <mat-select matNativeControl
            [(ngModel)]="tournamentIn.numberOfPlayers"
            #numberOfPlayers="ngModel" name="numberOfPlayers"
            id="numberOfPlayers" required>
            <mat-option value="8">8</mat-option>
            <mat-option value="16">16</mat-option>
            <mat-option value="32">32</mat-option>
          </mat-select>
          <!-- <div *ngIf="numberOfPlayers.touched && !numberOfPlayers.valid">
            <div *ngIf="numberOfPlayers.errors.required" style="color: red;">
              Competidores es requerido
            </div>
          </div> -->
        </mat-form-field>
      </div>

      <div class="row justify-content-start ml-2">
        <mat-form-field color="accent">
          <input matInput [min]="minDate" [max]="maxDate"
            [matDatepicker]="picker" placeholder="Fecha de inicio"
            (dateChange)="onUpdateDate($event, 0)" required>
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="accent">
          <input matInput [min]="minDate" [max]="maxDate"
            [matDatepicker]="picker2" placeholder="Fecha de fin"
            (dateChange)="onUpdateDate($event, 1)" required>
          <mat-datepicker-toggle matSuffix [for]="picker2">
          </mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <input matInputFile type="file" accept=".png, .jpg, .jpge"
        (change)="onUpload($event)">
      <section>
        <mat-progress-bar color="accent" mode="determinate"
          [value]="uploadPercent | async" [bufferValue]="bufferValue">
        </mat-progress-bar>
      </section>
      <label #imagenT id="imagenT" style="visibility: hidden; font-size: 0px">
        {{urlImage | async}}
      </label>

      <div class="row justify-content-end mr-1 mb-1">
        <button mat-raised-button color="accent" class="text-white" *ngIf="urlImage | async; else btnDisabled"
          type="submit" color="accent">
          Aceptar
        </button>
        <ng-template #btnDisabled>
          <button mat-stroked-button type="submit" disabled=true color="accent">
            Aceptar
          </button>
        </ng-template>
        <button mat-stroked-button color="accent" type="button"
          (click)="closeDialog()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>