<mat-toolbar  class="mat-elevation-z4" color="primary">
  <a href="">
    <img src="assets/icons/tengular.svg" height="60">
  </a>

  <span class="fill-remaining-space"></span>
  <button class="link" mat-flat-button color="primary">
    <img class="buttonLink" src="assets/icons/torneo.svg" height="35" align="left">
    <h2 class="line">Torneos</h2>
  </button>
  <button class="link" mat-flat-button color="primary">
    <img class="buttonLink" src="assets/icons/marcador.svg" height="35" align="left">
    <h2 class="line">Resultados</h2>
  </button>
  <button class="link" mat-flat-button color="primary">
    <img class="buttonLink" src="assets/icons/ranking.svg" height="35" align="left">
    <h2 class="line">Ranking</h2>
  </button>
  <button class="link" mat-flat-button color="primary">
    <img class="buttonLink" src="assets/icons/convocatoria.svg" height="35" align="left">
    <h2 class="line">Convcatorias</h2>
  </button>

  <span class="fill-remaining-space"></span>
  <button mat-flat-button color="accent">
    <h2 class="whiteText">Iniciar sesión</h2>
  </button>
</mat-toolbar>

<div class="row justify-content-md-center">
  <h1>TENGULAR</h1>
</div>

<div class="row justify-content-md-center">
  <ngb-carousel *ngIf="images"  class="mat-elevation-z4">
    <ng-template ngbSlide>
      <img [src]="images[0]" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1]" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[2]" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<h3 class="center">Desde 1998, contamos con las mejores instalaciones
  y torneos del país.</h3>