<mat-card appMaterialElevation class="p-0 m-0" (mouseenter)="onInside()" (mouseleave)="onOutside()">
  <mat-card-content class="m-0 p-0">
    <table class="matchResult">
      <tr>
        <td class="player winner">Roger Federer</td>
        <div class="pt-2">
          <td class="setTop p-1">6</td>
          <td class="setTop p-1">6</td>
          <td class="setTop p-1">6</td>
        </div>
      </tr>
      <tr>
        <td class="player">Rafael Nadal</td>
        <div class="pb-2">
          <td class="setBottom p-1">4</td>
          <td class="setBottom p-1">4</td>
          <td class="setBottom p-1">4</td>
        </div>
      </tr>
    </table>
  </mat-card-content>
</mat-card>